@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;


.container {
    background-color: #222426;
    width: 100%;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    @include desktop {
        flex-direction: row;    
        justify-content: center;
    }
}

.team-stats {
    height: 20rem;

    &__title {
        margin: 0;
        text-align: center;
        color: $white;
    }
}

.create {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

    @include desktop {
        width: 60%;
    }

    &__title {
        width: 75%;
        background-color: #222426;
        border: 1px solid $yellow;
        height: 2rem;
        border-radius: 10px;
        padding-left: 1rem;
        color: $white;
        margin-bottom: 1rem;
        font-size: 1.5rem;

    }

    &-team{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 5rem;

        &-member {
            height: 10rem;
            width: 50%;
            vertical-align: middle;
            text-align: center;
            border: 1px solid white;
        }   
    }

    &-button {
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 80%;
        margin-top: 1rem;;

        &__save {
            background-color: transparent;
            color: $white;
            height: 3rem;
            width: 6rem;
            text-align: end;
            border: none;
            border-radius: 125px;
            background-image: url('../../assets/icons/ultra.png');
            background-size: contain;
            background-repeat: no-repeat;
            font-size: 1rem;
        }

        &__clear {
            height: 3rem;
            width: 5rem;
            background-image: url('../../assets/icons/refresh.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50%;
            background-color: transparent;
            border: none;
            border-radius: 125px;

        }
    }
}

.pokemon-list-container {
    width: 100%;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include desktop {
        padding: 0 10rem;
    }
}

