@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;


.container {
    background-color: #222426;
    width: 100%;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-stats {
    height: 20rem;
}

.create {
    width: 100%;

    &-team{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        // padding: 0 8rem;

        &-member {
            height: 10rem;
            width: 50%;
            vertical-align: middle;
            text-align: center;
            border: 1px solid white;
        }   
    }
}

.pokemon-list-container {
    width: 100%;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include desktop {
        padding: 0 10rem;
    }
}

