@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;


.pokemon-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: center;
    }
}

.details {
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #222426;
    padding-bottom: 5rem;

    @include tablet {
        padding: 0 2rem 5rem 2rem;
    }

    @include desktop {
        padding: 0 10rem 5rem 10rem;
    }

    &-button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        &__add {
            border: none;
            background-image: url(../../assets/icons/great.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 3rem;
            background-color: transparent;
            padding-left: 3.5rem;
            font-size: 2rem;
            color: $white;
            border-radius: 100px;
        }
    }

    &-details {
        width: 100%;
        display: flex;
        flex-direction:column;
        align-items: center;
        gap: 0.5rem;

        @include tablet {
            width: 50%;
        }

        &__sprite {
            height: 10rem;
        }

        &__name {
            text-transform: capitalize;
            color: $white;
            margin: 0.5rem 0;
        }

        &-type{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            text-transform: capitalize;

            &__title {
                color: $white;
            }
        }

        &__text {
            margin: 0;
        }

        &__ability {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            color: $white;

            &-text {
                margin: 0;
                text-transform: capitalize;
            }
        }

        
    }

    &-stats {
        display: flex;
        flex-direction: column;

        @include tablet {
            // margin-right: 3rem;
            width: 50%;
            padding: 0 2rem;
        }

        &__title {
            color: $white;
            text-align: center;
        }
    }

    &-custom__moves {
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-title {
            margin: 0;
            color: $white;
            text-decoration: underline;

        }

        &-list {
            display: flex;
            width: 80%;
            flex-wrap: wrap;

            @include tablet {
                flex-wrap: nowrap;
                width: 100%;
            }

            &-name {
                width: 50%;
                text-align: center;
                color: $white;
                margin: 0.5rem 0;

                @include tablet {
                    width: fit-content;
                    padding: 0 1rem;
                }
            }
        }

        &-clear {
            border: none;
            margin-top: 1rem;
            background-image: url('../../assets/icons/refresh.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50%;
            background-color: transparent;
            height: 2.5rem;
            width: 3rem;
        }
    }

    &-moves {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0 1rem;

        &__title {
            color: $white;
            align-self: center;
        }
    }
}